[Desktop Entry]
Name=Imperial Geass Noir
Comment=Dark imperial Aurorae window decoration with purple and antique gold accents
Type=Service
X-KDE-PluginInfo-Name=ImperialGeassNoir
X-KDE-PluginInfo-Version=1.0.1
X-KDE-PluginInfo-License=GPL_V3
